

.btn-whatsapp{
  z-index: 1;
  width: auto;
  position: fixed;
  
}


.boton{
  width: 100px;
}










h5{
  color: black;
}



footer {
  text-align: center;
}


}

.formulario-contacto{
  margin-left: 40px;
  margin-right: 300px;
}
















