#titulo-index{
    display: flex;
    margin-left: 300px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-decoration: none;

    .breve-resenia{
        display: flex;
        font-family: 'Patrick Hand', cursive;

        #quien_info{
            width: 50%;
            margin-top: 40px;
            margin-left: 20px;
            font-family:'Patrick Hand', cursive;
            font-size: 15px
  
  }
  
    
    
    
  }
  
  
  }
  iframe {
    border-width: 1px;
    border-color: blueviolet;
    border-style: groove;
    padding: 10px;

    #entrevista{
        margin-left: 30px;
        background-color: black;
  }
  
  
  
  }
  
  
  #titulo_ubi{
    display: flex;
    margin-left: 300px;
    margin-top: 60px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-decoration: none;
    }
  #ubimaps{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    

    #streeview-gps{
        margin-left: 15px;
        background-color: black;
        box-shadow: 2px 2px 3px 2px white;}
  }
  
  



    